07[[:space:]]-[[:space:]]Monitoramento/prometheus-3.0.0-rc.0.windows-amd64/promtool.exe filter=lfs diff=lfs merge=lfs -text
07[[:space:]]-[[:space:]]Monitoramento/prometheus-3.0.0-rc.0.windows-amd64/prometheus.exe filter=lfs diff=lfs merge=lfs -text
07[[:space:]]-[[:space:]]Monitoramento/prometheus-3.0.0-rc.0.windows-amd64/data/chunks_head/000001 filter=lfs diff=lfs merge=lfs -text
